{% extends "base.html" %}
{% block content %}

    <h1>Contract List</h1>

    {% for groups in contracts %}
        {% for contract in groups %}
            {% if forloop.counter == 1 %}
                <h2> {{ contract }} </h2>
            {% else %}
		        <li> <a href="../view/{{ contract }}">{{ contract }}</a> </li>
		    {% endif %}
		{% endfor %}
	{% endfor %}
	{% if user.is_staff %}
	    <br>
        <form action="/contracts/create/" method="post">
            {% csrf_token %}
            <input type="submit" name="create" value="Create"/>
        </form>
    {% endif %}
{% endblock %}