{% extends "base.html" %}
{% block content %}

    <h1>Create</h1>
    {% if user.is_staff %}
        <form action="/powers/created/" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <td style="vertical-align:top;text-align:right"><b>Name: </b></td>
                <td>{{ form.longname }}</td>
              </tr>
              <tr>
                <td style="vertical-align:top;text-align:right"><b>Category: </b></td>
                <td>{{ form.category }}</td>
              </tr>
              <tr>
                <td style="vertical-align:top;text-align:right"><b>Reference: </b></td>
                <td>{{ form.reference }}</td>
              </tr>
              <tr>
                <td style="vertical-align:top;text-align:right"><b>Info: </b></td>
                <td>{{ form.info }}</td>
              </tr>
              <tr>
                <td></td>
                <td <b>Restricted: </b>{{ form.restricted }}</td>
              </tr>
            </table>
            <input type="submit" name="submit" value="Submit"/>
        </form>
    {% else %}
        <p>You aren't staff.</p>
    {% endif %}

{% endblock %}