{% extends "base.html" %}
{% block content %}

    <h1>{{ path.longname }}</h1>

    <p><b>Ruling Arcana: </b> {{ path.ruling_arcana }}</p>
    <p><b>Inferior Arcana: </b>{{ path.inferior_arcana}}</p>
    <div style="float:left;padding-bottom:0;">
        <b>Info:&nbsp;</b>
    </div>
    <p>{{ path.info|linebreaks }}</p>
    <p style="float:end;"><b>Reference: </b>{{ path.reference }}</p>
    <p><b>Restricted: </b>{{ path.restricted }}</p>
    
    {% if user.is_staff %}
        <form action="/paths/edit/{{ id }}/" method="post">
            {% csrf_token %}
            <input type="submit" name="edit" value="Edit"/>
        </form>
    {% endif %}

{% endblock %}