{% extends "base.html" %}
{% block content %}

    <h1>{{ coil.longname }}</h1>
    
    {% if user.is_staff %}
        <p><b>Prerequisites: </b>{{ coil.prereq }}</p>
    {% endif %}
    <div style="float:left;padding-bottom:0;">
        <b>Info:&nbsp;</b>
    </div>
    <p>{{ coil.info|linebreaks }}</p>
    <p><b>Reference: </b>{{ coil.reference }}</p>
    <p style="float:end;"><b>Restricted: </b>{{ coil.restricted }}</p>
    
    {% if user.is_staff %}
        <form action="/coils/edit/{{ id }}/" method="post">
            {% csrf_token %}
            <input type="submit" name="edit" value="Edit"/>
        </form>
    {% endif %}

{% endblock %}