{% extends "base.html" %}
{% block content %}

    <h1>Advantage List</h1>

    {% for groups in advantages %}
        {% for advantage in groups %}
            {% if forloop.counter == 1 %}
                <h2> {{ advantage }} </h2>
            {% else %}
		        <li> <a href="../view/{{ advantage }}">{{ advantage }}</a> </li>
		    {% endif %}
		{% endfor %}
	{% endfor %}
	{% if user.is_staff %}
	    <br>
        <form action="/advantages/create/" method="post">
            {% csrf_token %}
            <input type="submit" name="create" value="Create"/>
        </form>
    {% endif %}
{% endblock %}