{% extends "base.html" %}
{% block content %}

    <h1>Sphere List</h1>

    {% for groups in spheres %}
        {% for sphere in groups %}
            {% if forloop.counter == 1 %}
                <h2> {{ sphere }} </h2>
            {% else %}
		        <li> <a href="../view/{{ sphere }}">{{ sphere }}</a> </li>
		    {% endif %}
		{% endfor %}
	{% endfor %}
	{% if user.is_staff %}
	    <br>
        <form action="/spheres/create/" method="post">
            {% csrf_token %}
            <input type="submit" name="create" value="Create"/>
        </form>
    {% endif %}
{% endblock %}